.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: 2px 10px;
	text-decoration: none;
}

.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
}
.ui-tabs .ui-tabs-nav {
	padding: 0;
}
.ui-tabs .ui-tabs-panel {
	padding: 2px;
}
.ui-button {
	padding: 0px;
	vertical-align: top;
}
select {
	vertical-align: top;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #80bfff;
	background: #80bfff;
}
.sp-replacer {
	padding:1px;
	vertical-align: top;
}
.sp-preview {
	width:19px;
	height:19px;
}
.ui-title {
	padding:2px;
	float: left;
	width:99%;
	margin:2px;
	font-size:85%;
}
.ui-accordion .ui-accordion-header {
	padding:2px;
	text-align:left;
	width:99%;
}

.ui-dialog{
	z-index:1000 !important;
}

.ui-dialog .ui-dialog-titlebar {
	padding:2px 15px;
}

.CodeMirror {
	height: auto;
}

.flyingInputText{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	padding:0px !important;
}
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

div[type="normalButton"]  {
	padding: .4em 3em;
	vertical-align: middle;
}

.ui-accordion .ui-accordion-content {
    	padding: 0  !important;
}

input{
	padding:2px !important;
}

option{
	padding: 0px !important;
	margin: 0px !important;
	display: inline-block;
}
